11.1 Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [ ]:
%%writefile zoo.py
def hours():
    print('Open 9-5 daily')

Writing zoo.py

In [5]:
import zoo

In [9]:
zoo.hours()

Open 9-5 daily

11.2 In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [12]:
import zoo as menagerie

In [13]:
menagerie.hours()

Open 9-5 daily

16.7 Select and print all columns from the book table in order of publication.

In [14]:

!pip install sqlalchemy

Collecting sqlalchemy
  Downloading sqlalchemy-2.0.40-cp313-cp313-win_amd64.whl.metadata (9.9 kB)
Collecting greenlet>=1 (from sqlalchemy)
  Downloading greenlet-3.1.1-cp313-cp313-win_amd64.whl.metadata (3.9 kB)
Collecting typing-extensions>=4.6.0 (from sqlalchemy)
  Downloading typing_extensions-4.13.2-py3-none-any.whl.metadata (3.0 kB)
Downloading sqlalchemy-2.0.40-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ----------------------------- ---------- 1.6/2.1 MB 12.0 MB/s eta 0:00:01
   ---------------------------------------- 2.1/2.1 MB 11.1 MB/s eta 0:00:00
Downloading greenlet-3.1.1-cp313-cp313-win_amd64.whl (299 kB)
Downloading typing_extensions-4.13.2-py3-none-any.whl (45 kB)
Installing collected packages: typing-extensions, greenlet, sqlalchemy
Successfully installed greenlet-3.1.1 sqlalchemy-2.0.40 typing-extensions-4.13.2

[notice] A new release of pip is available: 24.2 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, select

# Create the database engine and connect to it
engine = create_engine('sqlite:///books.db')
connection = engine.connect()
metadata = MetaData()

# Define the 'book' table
book = Table(
    'book',
    metadata,
    Column('id', Integer, primary_key=True),
    Column('title', String)
)

# Create the table in the database
metadata.create_all(engine)

# Insert sample book records
insert_query = book.insert().values([
    {'title': 'Brave New World'},
    {'title': 'To Kill a Mockingbird'},
    {'title': '1984'},
    {'title': 'The Great Gatsby'}
])

# Execute the insert query
connection.execute(insert_query)

# Select and print book titles in alphabetical order
query = select(book.c.title).order_by(book.c.title)
result = connection.execute(query)

print("Book titles in alphabetical order:")
for row in result:
    print(row.title)

Book titles in alphabetical order:
1984
Brave New World
The Great Gatsby
To Kill a Mockingbird